.xans-product-additional .gZoom { text-align:center; padding-top:45px; line-height:1.4; }
.xans-product-additional .gZoom img { width:100%; margin:0; padding:0; }
.xans-product-additional .gZoom .btnBasic { position:fixed; top:7px; right:7px; z-index:1000; }



