.xans-product-listrecommend.ec-base-product { margin:20px 0 15px 0; background-color:#fff; border-bottom:1px solid #eee; padding-bottom:35px; }
.xans-product-listrecommend:first-child h2 { border-top:0; }
.xans-product-listrecommend.ec-base-product h2 { margin:0; padding:14px 14px 0; font-size:14px; line-height:15px; color:#4a5164; background:none; }
.xans-product-listrecommend .paginate { margin:15px 0 0px; background:#fff; }




