.xans-project-package .menuCategory { margin:5px 0 0px 0; padding:0 0 0px 0; background:#fff; text-align:center; }
.xans-project-package .menuCategory .icoOpen { width:13px; cursor:pointer; vertical-align:top; }
.xans-project-package .menuCategory > li { padding:11px 0 10px; border-top:1px solid #ececec; }
.xans-project-package .menuCategory > li:first-child { border-top:0; }
.xans-project-package .menuCategory > li > a { display:inline-block; margin:0 14px; color:#2e2e2e; font-weight:normal; font-size:13px; vertical-align:top; }
.xans-project-package .menuCategory li.selected > a { color:#000; }
.xans-project-package .menuCategory li.xans-product-projectcategory { display:inline-block; border:0; }
.xans-project-package .banner { padding:10px 14px; }
.xans-project-list h3 { margin-top:15px; padding:14px 0px 0 0; font-size:13px; line-height:15px; color:#222; font-weight:normal; text-align:center; border-top:1px solid #eee; }