.xans-layout-logobottom {
  display: block;
}
.xans-layout-logobottom a {
  /* font-family: verdana, "맑은 고딕", malgungothic, sans-serif; */
  font-size: 24px;
  color: #e9e9e9;
  font-weight: 600;
  word-wrap: break-word;
  text-decoration: none;
  font-style: normal;
}
.xans-layout-logobottom img {
  max-width: 180px;
}
