@charset "utf-8";

/* Layout */
#header .special {
  float: left;
  border-left: 1px solid #d8d8d8;
}
#header .special li {
  float: left;
}
#header .special a {
  display: block;
  height: 20px;
  padding: 16px 15px 9px;
  border-right: 1px solid #d8d8d8;
  color: #353535;
  text-decoration: none;
}
#header .special a:hover {
  color: #008bcc;
  padding-bottom: 7px;
  border-bottom: 2px solid #008bcc;
}
#header .link {
  position: absolute;
  left: 0;
  top: 0;
  height: 35px;
  line-height: 35px;
}
#header .link > a,
#header .link > span {
  float: left;
}
#header .link > a {
  margin: 0 9px 0 0;
  padding: 0 10px 0 0;
  color: #666;
  text-decoration: none;
  background: url("//img.echosting.cafe24.com/skin/base/common/ico_bar.gif")
    no-repeat 100% 12px;
}
#header .link > span img {
  vertical-align: middle;
}
#header .link .xans-layout-bookmark span {
  padding-left: 17px;
  background: url("//img.echosting.cafe24.com/skin/base/layout/ico_bookmark.png")
    no-repeat 0 1px;
}

#header {
  position: relative;
  width: 95%;
  max-width: 1850px;
  font-family: "Lato", "Nanum Gothic", sans-serif;
  z-index: 95;
  padding: 0 24px;
}
#header .inner {
  position: relative;
  *zoom: 1;
}
#header .inner:after {
  content: "";
  display: block;
  clear: both;
}

/* 상단 고정 */
#header .nav-container {
  position: relative;
  clear: both;
  z-index: 90;
  width: 100%;
}
#header .nav-container:after {
  content: "";
  display: block;
  clear: both;
}
#header .nav {
  position: relative;
}

#header .f-nav {
  z-index: 90;
  position: fixed;
  top: 0px;
  left: 0;
  border-bottom: 1px solid #ddd;
  background: #fff;
  height: 50px;
  min-width: 1100px;
}
#header .f-nav .nav_topmenu_con {
  position: relative;
  width: 95%;
  max-width: 1850px;
}
#header .f-nav .scroll_logo_area {
  display: block;
}
#header .f-nav .logo_area {
  display: none;
}
#header .f-nav .login_menu {
  position: relative;
  float: right;
  width: 50%;
  font-size: 11px;
  line-height: 17px;
  margin-top: 17px;
}
#header .f-nav #lo_mypage .top_toggle_con {
  position: absolute;
  top: 33px;
  margin-left: 5px;
  display: none;
  clear: both;
  z-index: 1000;
  border: 1px solid #ddd;
  width: 110px;
  padding: 17px 15px 17px 0;
  background: #fff;
}
#header .f-nav #lo_mypage .top_toggle_con:before {
  content: "";
  position: absolute;
  top: -19px;
  left: 0px;
  width: 120px;
  height: 23px;
  background: none;
}
#header .f-nav #lo_search .search_con {
  position: absolute;
  top: 33px;
  right: -15px;
  display: none;
  clear: both;
  z-index: 1000;
  border: 1px solid #ddd;
  width: 245px;
  padding: 27px 25px 25px 20px;
  background: #fff;
}
#header .f-nav .basket_layer {
  position: absolute;
  top: 33px;
  right: -30px;
  border: 1px solid #dcdcdc;
  background: #fff;
}

#header .logo_area {
  position: relative;
  float: left;
  width: 50%;
}
#header .logo_area img {
  max-width: 400px;
  margin: 50px 0 40px 50px;
}

#header .scroll_logo_area {
  display: none;
  position: relative;
  float: left;
  width: 50%;
}
#header .scroll_logo_area img {
  max-height: 50px;
  margin: 0px 0 0px 50px;
}

#header .login_menu {
  position: relative;
  float: right;
  width: 50%;
  font-size: 11px;
  margin-top: 47px;
  line-height: 17px;
}
#header .login_menu_con {
  float: right;
}
#header .login_menu_con a {
  color: #666;
}
#header .login_menu_con a:hover {
  color: #aaa;
}
#header .log_menu {
  float: left;
}
#header .join_menu {
  float: left;
  margin-left: 28px;
}

#header .cart_txt {
  float: right;
  margin-left: 28px;
  font-family: "Lato", "Nanum Gothic", sans-serif;
}
#header .cart_txt a {
  color: #666;
}
#header .cart_txt a:hover {
  color: #aaa;
}
#header .cart_one {
  color: #fff;
  width: 18px;
  height: 18px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #222;
  display: inline-block;
  text-align: center;
  margin: 0 0 0 5px;
  line-height: 17px;
}

/* 움직이는 적립금 */
#header .m_point {
  float: left;
  position: relative;
  margin-left: 5px;
}
#header .movingpoint {
  position: relative;
  color: #666;
  font-family: "Lato", sans-serif;
}

/* 마이페이지 토글 */
#lo_mypage {
  float: right;
  font-family: "Lato", "Nanum Gothic", sans-serif;
}
#lo_mypage .top_toggle_bt {
  float: right;
  cursor: pointer;
  margin: 0 0 0 28px;
  color: #666;
}
#lo_mypage .top_toggle_bt:hover {
  color: #aaa;
}
#lo_mypage .top_toggle_con {
  position: absolute;
  top: 25px;
  margin-left: 5px;
  display: none;
  clear: both;
  z-index: 1000;
  border: 1px solid #ddd;
  width: 110px;
  padding: 17px 15px 17px 0;
  background: #fff;
}
#lo_mypage .top_toggle_con:before {
  content: "";
  position: absolute;
  top: -17px;
  left: 0px;
  width: 120px;
  height: 18px;
  background: none;
}
#lo_mypage .top_toggle_con p a {
  line-height: 24px;
  color: #888;
  display: block;
  width: 80px;
  margin-left: 19px;
  padding-left: 7px;
}
#lo_mypage .top_toggle_con p a:hover {
  display: block;
  color: #999;
  background: #f3f3f3;
}

/* 검색 토글 */
#lo_search {
  float: right;
  font-family: "Lato", "Nanum Gothic", sans-serif;
}
#lo_search .search_togg_bt {
  float: right;
  cursor: pointer;
  margin: -3px 0 0 20px;
  background: url("/web/upload/itsme/top_search_bt.png") no-repeat;
  width: 25px;
  height: 25px;
}
#lo_search .search_con {
  position: absolute;
  top: 25px;
  right: -15px;
  display: none;
  clear: both;
  z-index: 1000;
  border: 1px solid #ddd;
  width: 245px;
  padding: 27px 25px 25px 20px;
  background: #fff;
}
#lo_search .search_con:before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0px;
  width: 300px;
  height: 20px;
  background: none;
}

#lo_search .popular {
  clear: both;
  padding-top: 15px;
  margin-left: 7px;
}
#lo_search .popular p {
  line-height: 23px;
  font-size: 12px;
}
#lo_search .popular p a {
  color: #999;
}
#lo_search .popular p a:hover {
  color: #333;
}

#wrap {
  position: relative;
  width: 95%;
  max-width: 1850px;
}
#container {
  position: relative;
  margin: 0px 0 0 300px;
  *zoom: 1;
}
#container:after {
  content: "";
  display: block;
  clear: both;
}
#contents {
  margin: 0px;
}

/* 왼쪽 고정 */
#left_side {
  position: absolute;
  top: 0px;
  width: 200px;
  height: 100%;
  z-index: 90px;
  background: #fff;
  font-family: "Lato", "Nanum Gothic", sans-serif;
  padding-left: 50px;
}
#left_side .nav_left_con {
  position: relative;
  clear: both;
  z-index: 90;
}
#left_side .nav_left_con:after {
  content: "";
  display: block;
  clear: both;
}
#left_side .nav_left {
  position: relative;
}
#left_side .f_nav_left {
  z-index: 90;
  position: fixed;
  top: 80px;
}

#left_side .left_board {
  clear: both;
  line-height: 24px;
  margin: 40px 0 0 0px;
}
#left_side .left_board > ul > li > a {
  color: #777;
}
#left_side .left_board > ul > li > a:hover,
#left_side .left_board > ul > li.selected > a,
#left_side .left_board > ul > li.on > a {
  color: #aaa;
}

#left_side .left_sns {
  clear: both;
  margin-top: 30px;
}

/* 하단 */
#footer {
  width: 100%;
  margin: 15% 0 0 0px;
  font-family: "Lato", "Nanum Gothic", sans-serif;
}
#footer .inner {
  position: relative;
  clear: both;
  margin: 5% auto 0;
  *zoom: 1;
  border-top: 1px solid #ddd;
  padding-top: 4%;
  font-size: 11px;
}

#footer .utilMenu {
  clear: both;
  font-size: 11px;
  margin-left: 20px;
}
#footer .utilMenu li {
  float: left;
}
#footer .utilMenu li a {
  color: #444;
}
#footer .utilMenu li a:hover {
  color: #999;
}

#footer .bo_customer {
  clear: both;
  margin: 50px 0 0 20px;
}
#footer .cs_tel {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
  float: left;
}
#footer .cs_kakao {
  float: left;
  color: #fefefe;
  border-radius: 2px;
  background: #333;
  padding: 4px 20px;
  margin-left: 20px;
}
#footer .cs_con {
  clear: both;
  padding-top: 30px;
}
#footer .cs_txt {
  float: left;
  color: #666;
}
#footer .cs_line {
  float: left;
  width: 16px;
  height: 10px;
  border-left: 1px solid #ccc;
  margin: 2px 0 0 15px;
}

#footer .bo_bank {
  clear: both;
  color: #555;
  padding-top: 11px;
  margin-left: 20px;
}
#footer .bank_txt {
  float: left;
}

#footer .bo_delivery {
  clear: both;
  color: #555;
  padding-top: 11px;
  margin-left: 20px;
}
#footer .bo_delivery div {
  float: left;
}
#footer .bo_delivery a {
  color: #555;
}
#footer .bo_delivery a:hover {
  color: #999;
}

#footer .shop_info {
  clear: both;
  margin: 50px 10px 0 20px;
  line-height: 22px;
  color: #555;
}
#footer .shop_info a {
  color: #555;
}
#footer .shop_info a:hover {
  color: #999;
}
#footer .shopinfo_line img {
  margin-top: 5px;
}

#bo_copyright {
  clear: both;
  border-top: 1px solid #ddd;
  padding: 2% 0 4%;
  margin-top: 4%;
}
#bo_copyright .copy_txt {
  float: left;
  font-family: "Lato", "Nanum Gothic", sans-serif;
  color: #bbb;
  margin-left: 20px;
}
#bo_copyright .copy_txt a {
  color: #bbb;
}
#bo_copyright .copy_txt a:hover {
  color: #888;
}

#footer .bo_pginfo {
  float: right;
}
#footer .bo_pginfo span {
  margin: 0 0px 0 10px;
}
#footer .bo_pginfo span img {
}

/* 우측메뉴 */
#right_fixed_menu {
  position: fixed;
  right: 15px;
  bottom: 40px;
  z-index: 9999;
}

#book_link {
  position: relative;
  clear: both;
  font-family: "Lato", "Nanum Gothic", sans-serif;
}
#book_link .right_bt {
  clear: both;
  position: relative;
  z-index: 80;
  cursor: pointer;
}
#book_link .right_con {
  display: none;
  position: absolute;
  top: 15px;
  right: 50px;
  text-align: right;
  z-index: 1000;
  width: 100px;
  color: #888;
}

#desktop_link {
  position: relative;
  clear: both;
  font-family: "Lato", "Nanum Gothic", sans-serif;
}
#desktop_link .right_bt {
  clear: both;
  position: relative;
  z-index: 80;
  cursor: pointer;
}
#desktop_link .right_con {
  display: none;
  position: absolute;
  top: 15px;
  right: 50px;
  text-align: right;
  z-index: 1000;
  width: 100px;
  color: #888;
}

/* 최근본상품 토글 */
#lo_today {
  position: relative;
  z-index: 9991;
}
#lo_today .top_toggle_bt3 {
  clear: both;
  cursor: pointer;
  width: 45px;
  height: 45px;
  background: url("/web/upload/itsme/today_bt.png") no-repeat;
}
#lo_today .top_toggle_con3 {
  position: absolute;
  bottom: -88px;
  right: 44px;
  display: none;
  clear: both;
  z-index: 9999;
}
#lo_today .right_con {
  display: none;
  position: absolute;
  top: 15px;
  right: 50px;
  text-align: right;
  z-index: 1000;
  width: 100px;
  color: #888;
  font-weight: 500;
}

/* 탑으로이동 */
#go_top {
  position: relative;
  clear: both;
  z-index: 999;
  font-family: "Lato", "Nanum Gothic", sans-serif;
}
#go_top .toptop {
  clear: both;
  position: relative;
  z-index: 80;
  cursor: pointer;
}
#go_top .top_con {
  display: none;
  position: absolute;
  top: 15px;
  right: 50px;
  text-align: right;
  z-index: 1000;
  width: 100px;
  color: #888;
}

#go_bottom {
  position: relative;
  clear: both;
  z-index: 999;
  font-family: "Lato", "Nanum Gothic", sans-serif;
}
#go_bottom .bottombottom {
  clear: both;
  position: relative;
  z-index: 80;
  cursor: pointer;
}
#go_bottom .bottom_con {
  display: none;
  position: absolute;
  top: 15px;
  right: 50px;
  text-align: right;
  z-index: 1000;
  width: 100px;
  color: #888;
}

#company_blank {
  position: relative;
  clear: both;
  height: 30px;
}

/* 탐색경로바 */
.path {
  font-family: "Lato", "Nanum Gothic", sans-serif;
  overflow: hidden;
  height: 30px;
  line-height: 27px;
  *zoom: 1;
}
.path span {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  white-space: nowrap;
  text-indent: 100%;
}
.path ol {
  float: right;
}
.path li {
  float: left;
  padding: 0 0 0 12px;
  margin: 0 0 0 8px;
  color: #757575;
  background: url("//img.echosting.cafe24.com/skin/base/layout/ico_path.gif")
    no-repeat 0 10px;
}
.path li:first-child {
  background: none;
}
.path li a {
  color: #757575;
}
.path li strong,
.path li strong a {
  color: #2e2e2e;
}

/* 타이틀 */
.titleArea {
  height: 35px;
  margin: 0 auto 35px;
  text-align: center;
  width: 150px;
}
.titleArea h2 {
  display: inline-block;
  font-family: "Lato", "Nanum Gothic", sans-serif;
  color: #444;
  font-weight: normal;
  font-size: 14px;
  *display: inline;
  *zoom: 1;
}
.titleArea p {
  display: inline-block;
  color: #939393;
  *display: inline;
  *zoom: 1;
}
.titleArea ul {
  padding: 5px 0;
  color: #939393;
  line-height: 18px;
  margin-top: 15px;
}
.titleArea ul li {
  text-align: left;
  padding: 0 0 0 9px;
}
.coupon_text {
  text-align: left;
  padding: 0 0 0 9px;
  color: #939393;
  line-height: 19px;
  margin-top: -15px;
}

/* 퀵뷰 모달 */
#modalBackpanel {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background: #000;
}
#modalContainer {
  display: none;
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 10001;
  width: 975px;
  height: 720px;
  border: 1px solid #333;
  background: #fff;
}
#modalContainer #modalContent {
  width: 100%;
  height: 100%;
}
