<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0, user-scalable=yes">
    
    <title></title>
    <!--@css(/layout/basic/css/common.css)-->
    <!--@css(/layout/basic/css/layout.css)-->
    <!--@css(/layout/basic/css/ec-base-ui.css)-->
    <!--@css(/layout/basic/css/paginate.css)-->
    <!--@css(/layout/basic/css/ec-base-help.css)-->
    <!--@css(/layout/basic/css/ec-base-product.css)-->
    <!--@css(/layout/basic/css/ec-base-button.css)-->
    <!--@css(/layout/basic/css/ec-base-box.css)-->
    <!--@css(/layout/basic/css/ec-base-layer.css)-->
    <!--@css(/layout/basic/css/ec-base-tab.css)-->
    <!--@css(/layout/basic/css/ec-base-tooltip.css)-->
    <!--@css(/layout/basic/css/ec-base-table.css)-->
    
    
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">

    
    <!-- 스마트디자인에서는 JQuery 1.4.4 버전이 내장되어있습니다. 추가로 호출하면 충돌이 생길 수 있습니다. -->
    <!--@js(/layout/basic/js/common.js)-->
    
    
    <!--@js(/itsme/js/gotop.js)-->
    <!--@js(/itsme/js/fixed_menu.js)-->
    <!--@js(/itsme/js/category.js)-->
    
</head>
    
    
    
    
<body id="layout">
     <div id="wrap">
        <!--@import(/layout/basic/sidebar.html)-->
         
        <hr class="layout">
        <div id="container">
            <header id="header">
                <div class="header">
                    
                    <div class="nav-container">         
                       <div class="nav">     
                            <section id="topArea">
                                <div class="searchWrap">
                                    <p class="category"><a href="#none" class="fold"><img src="/web/upload/m_itsme/btn_category.png"></a></p>
                                    
                                    <h1 module="Layout_LogoTop">
                                        <a href="/"><img src="/web/upload/m_itsme/m_logo.png"></a>
                                    </h1>  
                                    
                                    <p class="cart_bt"><a href="/order/basket.html"><img src="/web/upload/m_itsme/btn_cart.png"><span module="Layout_orderBasketcount" class="count {$basket_count_display} {$basket_count_display_class}"><span class=" cart_one {$basket_count_class}">{$basket_count}</span></span></a></p>
                                    
                                    <p class="search"><button type="button"><img src="/web/upload/m_itsme/btn_search.png"></button></p>
                                    
                                </div>                                                
                            </section>
                        </div>
                    </div> 
                    
                    <div class="logo_area" module="Layout_LogoTop">
                        <a href="/"><img src="/web/upload/m_itsme/m_logo.png"></a>
                    </div>  
                    
                    
                    <!--@import(/layout/basic/search.html)-->
                    
                     <!-- 공통카테고리 삭제 2019-03-12-->
                    <!--div id="category_subpage"><!--@import(/itsme/html/toggle_menu.html)--></div-->
                    <p class="sub_line"></p>                    
                    
                </div>
            </header>
            
            
            
            <hr class="layout">
            <div id="contents">
                <!--@contents-->
            </div>
            <hr class="layout">
            

            <!--@import(/layout/basic/footer.html)-->
            
            
        </div>
    </div>
    
    
    
    
</body>
</html>
