.storeMenu-position {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 13px;
  flex-wrap: wrap;
}
.storeMenu-position li {
  padding: 20px;
}
@media (min-width: 1020px) {
  .storeMenu-position {
    font-size: 16px;
    font-weight: 700;
    justify-content: space-between;
  }
}
