.storeMenu-position {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  flex-wrap: wrap;
}
.storeMenu-position li {
  padding: 20px;
}
.storeMenu-position li a.is-active {
  text-decoration: underline;
}
@media (min-width: 1020px) {
  .storeMenu-position {
    font-size: 14px;
    font-weight: 400;
    justify-content: space-between;
  }
}
