.xans-layout-logotop {
  display: flex;
  z-index: 10;
  justify-content: flex-start;
  align-items: center;
}
.xans-layout-logotop a {
  font-size: 40px;
  color: #008bcc;
  font-weight: bold;
  text-decoration: none;
  font-style: normal;
}
.xans-layout-logotop img {
  max-width: 800px;
  max-height: 112px;
}
