.xans-layout-logotop {
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 150px;
}
.xans-layout-logotop a {
  font-size: 24px;
  /* color: #008bcc;
  font-weight: bold; */
  text-decoration: none;
  font-style: normal;
  width: 130px !important;
}
.xans-layout-logotop img {
  max-width: 130px;
  height: auto;
}
