/* 모바일 일때 */
#header {
  display: none;
}

/* 데스크탑 일때 */
@media (min-width: 1020px) {
  #header {
    display: block;
    width: 100%;
    position: fixed;
    z-index: 10;
  }
  .inner {
    position: relative;
    width: 100%;
    height: 130px;
  }

  #header .topArea {
    padding: 60px 50px 0;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* background-color: rgb(15 15 15 / 38%); */
  }

  #header .topArea ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #header .topArea li {
    /* margin-right: 70px; */
  }

  .topArea a {
    color: white;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* 메뉴들 공통 */
  #header .topArea .about-container,
  #header .topArea .store-container,
  #header .topArea .board-container {
    position: relative;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Store, Board 헤더 메뉴 호버시 공통속성 */
  #header .topArea .store-container:hover > .xans-layout-category .position,
  #header .topArea .board-container:hover > .xans-layout-boardinfo {
    opacity: 1;
    visibility: visible;
  }

  .xans-layout-category .position:hover,
  .xans-layout-boardinfo:hover {
    opacity: 1;
    visibility: visible;
  }

  /* Store 메뉴들 */
  .xans-layout-category .position {
    position: absolute;
    top: 27px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
    padding-left: 29px;
  }
  .xans-layout-category .position > ul {
    display: flex;
    flex-direction: column;
  }
  .xans-layout-category .position > ul > li {
    position: relative;
    z-index: 10;
    margin-bottom: 8px;
  }

  /* Board 메뉴들 */
  #header .position li a,
  #header .xans-layout-boardinfo li a {
    justify-content: flex-start;
  }
  .guard {
    height: 176px;
  }
  /* 로그인 안되었을 때 */
  .xans-layout-statelogoff {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .xans-layout-statelogoff > a {
    width: 100px;
    height: 30px;
  }
  .xans-layout-statelogoff > a:last-child {
    padding-right: 0;
  }
  .xans-layout-statelogoff .log {
    background: none;
  }
  .xans-layout-statelogoff > a .count,
  .xans-layout-statelogoff > a .count span {
    position: relative;
    display: inline-block;
    background: url("//img.echosting.cafe24.com/skin/base/layout/bg_basket_count.png")
      no-repeat;
  }
  .xans-layout-statelogoff > a .count {
    left: -5px;
    top: -1px;
    margin: 0 -5px 0 3px;
    padding: 0 0 0 7px;
    vertical-align: middle;
    background-position: 0 0;
  }
  .xans-layout-statelogoff > a .count span {
    height: 14px;
    padding: 1px 7px 1px 0;
    font-weight: bold;
    color: #fff;
    font-size: 11px;
    line-height: 14px;
    vertical-align: top;
    background-position: right -26px;
  }

  /* 로그인 되었을때 */
  .xans-layout-boardinfo {
    position: absolute;
    top: 27px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
    padding-left: 29px;
  }
  .xans-layout-boardinfo h2 {
    height: 20px;
    color: #2e2e2e;
    font-size: 12px;
  }

  .xans-layout-statelogon {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .xans-layout-statelogon > a {
    width: 100px;
    height: 30px;
  }
  .xans-layout-statelogon > a:last-child {
    padding-right: 0;
  }
  .xans-layout-statelogon .myinfo {
    color: #757575;
  }
  .xans-layout-statelogon .myinfo strong {
    color: #353535;
  }
  .xans-layout-statelogon .myinfo a {
    padding: 0 4px 0 10px;
    color: #757575;
    font-size: 12px;
  }
  .xans-layout-statelogon > a .count,
  .xans-layout-statelogon > a .count span {
    position: relative;
    display: inline-block;
    background: url("//img.echosting.cafe24.com/skin/base/layout/bg_basket_count.png")
      no-repeat;
  }
  .xans-layout-statelogon > a .count {
    left: -4px;
    top: -1px;
    margin: 0 -5px 0 6px;
    padding: 0 0 0 7px;
    vertical-align: middle;
    background-position: 0 0;
  }
  .xans-layout-statelogon > a .count span {
    height: 14px;
    padding: 1px 8px 1px 0;
    font-weight: bold;
    color: #fff;
    font-size: 11px;
    line-height: 14px;
    vertical-align: top;
    background-position: right -26px;
  }

  /* 로고 */
  .xans-layout-logotop {
    z-index: 10;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .xans-layout-logotop a {
    font-size: 24px;
    text-decoration: none;
    font-style: normal;
  }
  .xans-layout-logotop img {
    max-width: 130px;
    height: auto;
  }
}
