#sm-header {
  display: block;
  width: 100%;
  position: fixed;
  z-index: 10;
}

#sm-header .sm-topArea {
  padding: 20px 20px 0;
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#store {
  color: white;
  font-size: 15px;
}

.sm-header-logo {
  width: auto;
  height: 20px;
}

#sm-menu-btn {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 15px;
}

#mobile-sidebar {
  position: fixed;
  right: -300px;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 300px;
  height: 100vh;
  transition: 1s all ease;
  overflow-y: auto;
  background-color: white;
  z-index: 100;
}
.mobile-sidebar-wrap {
  padding: 30px;
}

#mobile-sidebar.is-active {
  right: 0;
}

@media (min-width: 1020px) {
  #sm-header {
    display: none;
  }
  #mobile-sidebar {
    display: none;
  }
}
