#sm-header {
  margin-top: 17px;
  display: block;
  width: 100%;
  position: fixed;
  z-index: 10;
}

#sm-header .sm-topArea {
  padding: 20px 20px 20px;
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#store {
  color: #c94a25;
  font-size: 17px;
  font-weight: 700;
}

.sm-header-logo {
  width: 111px;
  height: auto;
}

#sm-menu-btn {
  background-color: rgba(0, 0, 0, 0);
  color: #c94a25;
  font-size: 17px;
  font-weight: 700;
}

/* 사이드바 */
#mobile-sidebar {
  position: fixed;
  right: -300px;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 300px;
  height: 100vh;
  transition: 1s all ease;
  overflow-y: auto;
  background-color: white;
  z-index: 100;
  overscroll-behavior: contain;
}
.mobile-sidebar-wrap {
  /* padding: 30px; */
  padding-top: 30px;
}

.logoff-state,
.logon-state {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 0 30px;
}

.sm-about-container,
.sm-store-container,
.sm-board-container {
  margin-bottom: 10px;
  padding: 0 30px;
}

.sm-store-container {
  margin-bottom: 50px;
}

.sm-about-us,
.sm-store,
.sm-board {
  margin-bottom: 10px;
}
.sm-about-us .is-select,
.sm-store .is-select {
  color: #cb1b18;
  font-weight: 700;
  text-decoration: underline;
}
ul li {
  margin-bottom: 6px;
}

.sm-about-us a,
.sm-store a,
.sm-board a {
  font-size: 20px;
}

.sm-board-container .xans-layout-boardinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sm-board-container .xans-layout-boardinfo li {
  margin-right: 8px;
  font-size: 13px;
}
.sm-board-container .xans-layout-boardinfo li:last-child {
  margin-right: 0;
}
#mobile-sidebar.is-active {
  right: 0;
}

@media (min-width: 1020px) {
  #sm-header {
    display: none;
  }
  #mobile-sidebar {
    display: none;
  }
}
