/* font */
.txtWarn { color:#333; }
.txtEm { color:#000; }

/* grid */
.gBlank5 { display:block; margin-top:5px; }
.gBlank7 { display:block; margin-top:7px; }
.gBlank10 { display:block; margin-top:10px; }
.gBlank20 { display:block; margin-top:20px; }
.gBlank30 { display:block; margin-top:30px; }
.gIndent10 { margin-left:10px; }
.gIndent20 { margin-left:20px; }
.gSpace10 { margin-right:10px; }
.gSpace20 { margin-right:20px; }
.gMerge { position:relative; z-index:1; margin-top:-1px; }

/* ec-base-qty */
.ec-base-qty [type="text"] { width:49px; }
.ec-base-qty button { margin:0; padding:0; border:0; vertical-align:top; background:transparent; }